.container {
  height: 100%;
}

.grid-container {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.row {
  display: flex;
  max-height: 16px;
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
}
