<mat-form-field appearance="fill">
  <mat-label>Select an algorithm</mat-label>
  <mat-select [(value)]="selectedAlgorithmName" required>
    <mat-option value="SelectionSort">Selection Sort</mat-option>
    <mat-option value="InsertionSort">Insertion Sort</mat-option>
    <mat-option value="MergeSort">Merge Sort</mat-option>
    <mat-option value="QuickSort">Quick Sort</mat-option>
  </mat-select>
</mat-form-field>
<div class="wrap">
  <button
    mat-raised-button
    color="primary"
    [disabled]="sortInProgress"
    (click)="sort()"
  >
    Start Sort
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="generateRandomArray()"
    [disabled]="sortInProgress"
  >
    Generate New Array
  </button>

  <div class="control-container">
    <p>Array Length</p>
    <mat-slider
      min="1"
      max="100"
      step="1"
      tickInterval="20"
      thumbLabel
      [(value)]="arrayLength"
    ></mat-slider>
  </div>
  <div class="control-container">
    <p>Sorting Speed</p>
    <mat-slider
      min="1"
      max="100"
      step="1"
      tickInterval="20"
      thumbLabel
      [(value)]="sortSpeed"
    ></mat-slider>
  </div>
</div>

<div class="array-container">
  <ul class="array">
    <li
      class="item"
      *ngFor="let n of unsortedArray; let indexOfElement = index"
      [ngStyle]="styleBackground(unsortedArray, indexOfElement)"
    ></li>
  </ul>
</div>
