<h2>
  Welcome to DC Algorithm Sorting Visualizer
</h2>
<p>
  This website will contain visualizations of various algorithms and other side
  projects related to my university subjects. I am making this site for both
  practice and deepening my understanding of content. Furthermore, in the hopes
  that maybe it might be amusing to others too.
</p>
<h2 class="social-links">
  <a target="_blank" href="https://github.com/domainance"
    ><i class="fab fa-github"></i
  ></a>
  <a href="https://codepen.io/domainance"><i class="fab fa-codepen"></i></a>
</h2>
