<p>
  Choose an algorithm and watch it sort an array with duplicate values. Generate
  arrays of different sizes and change the sorting speed.
</p>
<p>
  The current element being sorted is green and the elements being compared to
  are pink.
</p>
<div>
  <p>{{ this.selectedAlgorithmName }} Selected</p>
</div>
<div [ngSwitch]></div>
<mat-list class="horizontal-list">
  <mat-list-item>
    <p>Algorithms:</p>
    <button
      mat-raised-button
      color="primary"
      (click)="loadAlgorithm('SelectionSort')"
    >
      Selection Sort
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="loadAlgorithm('InsertionSort')"
    >
      Insertion Sort
    </button>
    <button mat-raised-button color="primary" (click)="mergeSort()">
      Merge Sort
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="loadAlgorithm('QuickSort')"
    >
      Quick Sort
    </button>
  </mat-list-item>
  <mat-list-item>
    <p>Controls:</p>
    <button mat-raised-button color="primary" (click)="sort()">
      Start Sort
    </button>
    <button mat-raised-button color="primary" (click)="generateRandomArray()">
      Generate New Array
    </button>

    <div class="control-container">
      <p>Array Length</p>
      <mat-slider
        min="1"
        max="100"
        step="1"
        tickInterval="20"
        thumbLabel
        [(value)]="arrayLength"
      ></mat-slider>
    </div>
    <div class="control-container">
      <p>Sorting Speed</p>
      <mat-slider
        min="1"
        max="100"
        step="1"
        tickInterval="20"
        thumbLabel
        [(value)]="sortSpeed"
      ></mat-slider>
    </div>
  </mat-list-item>
</mat-list>

<div class="">
  <ul class="array">
    <li
      class="item"
      *ngFor="let n of unsortedArray; let indexOfElement = index"
      [ngStyle]="styleBackground(unsortedArray, indexOfElement)"
    ></li>
  </ul>
</div>
