.horizontal-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.array {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 16px 0;
}

.item {
  border: 1px solid #3f51b5;
  width: 100%;
  margin: 0 0.5px;
}

button {
  margin: 0 4px;
}

.control-container > * {
  padding: 0;
  margin: 0;
}

.control-container > p {
  position: absolute;
  justify-self: center;
  text-align: center;
}
